---
name: Get data from GA

on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron: '0 4 * * 5'
  workflow_dispatch:

env:
  python-version: "3.11"

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ env.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ env.python-version }}
      - uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Decrypt large secret
        run: ./decrypt_secret.sh
        env:
          GPG_SECRET_PASSPHRASE: ${{ secrets.GPG_SECRET_PASSPHRASE }}
      - name: install python requirements
        run: pip install .
      - name: get data
        run: |
          make download-data
      - name: deploy to github pages
        if: success()
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: data
          publish_dir: static/data
          user_name: 'github-actions[bot]'
          user_email: 'github-actions[bot]@users.noreply.github.com'

  recommendation:
    runs-on: ubuntu-latest
    needs: [publish]  # require tests to pass before deploy runs

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ env.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ env.python-version }}
      - uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: install python requirements
        run: pip install .
      - name: Get historical data
        run: ./venv/bin/python fetch.py
      - name: Get historical data
        run: ./venv/bin/python recommendation.py
        env:
          NOTIFICATION_URL: ${{ secrets.NOTIFICATION_URL }}
